{
  "semi": true,
  "singleQuote": false,
  "printWidth": 96,
  "tabWidth": 2,
  "trailingComma": "all",
  "tailwindFunctions": ["tw", "tv"],
  "tailwindAttributes": ["tw"],
  "tailwindStylesheet": "./apps/site/app/global.css",
  "attributeGroups": ["^class$", "^(id|name)$", "$DEFAULT", "^aria-"],
  "plugins": [
    "prettier-plugin-astro",
    "prettier-plugin-organize-attributes",
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [
    {
      "files": ["*.json"],
      "options": { "trailingComma": "es5" }
    },
    {
      "files": ["**/*.astro"],
      "options": { "parser": "astro" }
    }
  ]
}
