---
import { getCollection, render } from "astro:content";

import Prose from "@/components/content/prose.astro";
import Shell from "@/components/frames/shell.astro";
import ProseLink from "@/components/shared/prose-link.astro";
// import { Image } from "astro:assets";

export async function getStaticPaths() {
  const entries = await getCollection("journal", ({ data }) => import.meta.env.PROD === data.draft);

  return entries.map((entry) => ({
    props: { entry },
    params: { slug: decodeURI(entry.id) },
  }));
}

const { entry } = Astro.props;

const markdown = await render(entry);

const { Content, remarkPluginFrontmatter: frontmatter } = markdown;

entry.data.words ??= frontmatter.words;
entry.data.duration ??= frontmatter.duration;
---

<Shell>
  <!-- <div class="mx-auto">
  </div> -->

  <Prose as="article" aria-labelledby="a11ty-headline">
    <h1 id="a11ty-headline">{entry.data.title}</h1>

    <section aria-label="metadata" class="not-prose flex items-center">
      <!-- <Image src={} /> -->

      <!-- <p>{convert(`${entry.data.weather[0]}`, "K", "C")}</p> -->
    </section>
    <Content components={{ a: ProseLink }} frontmatter={entry.data} />
  </Prose>
</Shell>
