---
import Fence from "@/components/layout/fence.astro";
import Link from "@/components/shared/link.astro";
import Routes from "@/components/widgets/routes.astro";
import ThemePicker from "@/components/widgets/theme-picker.astro";
import { Icon } from "astro-icon/components";
---

<header class="sticky top-0 z-50 bg-inherit">
  <Fence>
    <section class="flex items-center justify-center py-10 md:py-16">
      <Link href="/" class="self-center text-4xl">princemuel</Link>
    </section>
    <section class="flex items-center gap-4 border-y border-brand-900 dark:border-brand-100">
      <Routes class="mr-auto" />
      <section class="flex items-center divide-x divide-brand-900 dark:divide-brand-100">
        <ThemePicker />
        <Link
          href="/rss"
          class:list={[
            "p-3 text-2xl",
            "text-brand-900 dark:text-brand-200",
            "hover:text-brand-200 dark:hover:text-brand-900",
            "hover:bg-brand-900 dark:hover:bg-brand-200",
            "focus:text-brand-200 dark:focus:text-brand-900",
            "focus:bg-brand-900 dark:focus:bg-brand-200",
          ]}
        >
          <Icon name="lucide:rss" class="text-inherit" />
          <span class="sr-only">RSS</span>
        </Link>
      </section>
    </section>
  </Fence>
</header>
