<figure class="flex items-center gap-4">
  <figcaption class="shrink-0 text-xs text-slate-400/70">
    <data id="clock-offset" class="tabular-nums">(UTC)</data>&nbsp;
    <time id="clock-digital" class="font-mono" datetime="00:00:00">00:00:00</time>
  </figcaption>

  <div
    id="clock-face"
    role="img"
    aria-label="Analogue clock"
    style="-hour:0;--minute:0;--second:0;--width:2px;"
    class="relative flex size-14 rotate-180 items-center justify-center rounded-full after:z-10 after:size-[5%] after:rounded-full after:border-[0.5px] after:bg-slate-100 sm:size-16"
  >
    <div class="handle h-1/5 w-0.5 rotate-[calc(var(--hour)*1deg)] bg-slate-400"></div>
    <div class="handle h-1/3 w-0.5 rotate-[calc(var(--minute)*1deg)] bg-slate-400/50"></div>
    <div class="handle h-2/5 w-[0.4px] rotate-[calc(var(--second)*1deg)] bg-blue-500"></div>
  </div>
</figure>

<style>
  .handle {
    position: absolute;
    top: 50%;
    left: calc(50% - var(--width) / 2);
    transform-origin: center 0;
  }
</style>

<script>
  import { $ } from "@/helpers/dom";

  function toDeg(value: number, period: number, fine = 0, finePeriod = 1) {
    return ((value / period + fine / (period * finePeriod)) * 360).toString();
  }

  const face = $("#clock-face", HTMLDivElement);
  const digital = $("#clock-digital", HTMLTimeElement);
  const offset = $("#clock-offset", HTMLDataElement);

  const userTimeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;
  const now0 = Temporal.Now.zonedDateTimeISO(userTimeZone);
  // computed once on page load. if a DST transition occurs mid-session, the offset
  // label will be stale, but this resolves on the next page reload
  const timeZoneOffset = now0.offset;
  offset.value = timeZoneOffset;
  offset.textContent =
    timeZoneOffset === "+00:00"
      ? "(UTC)"
      : `(UTC ${timeZoneOffset.replace(/^([+-])0*(\d+):00$/, "$1$2")})`;

  let prevMin = -1;

  function tick() {
    const now = Temporal.Now.zonedDateTimeISO(userTimeZone);
    const hr = now.hour;
    const min = now.minute;
    const sec = now.second;

    const isoTime = now.toPlainTime();
    digital.dateTime = isoTime.toString({ smallestUnit: "second" });
    digital.textContent = isoTime.toLocaleString();

    if (min !== prevMin) {
      face.style.setProperty("--hour", toDeg(hr % 12, 12, min, 60));
      face.style.setProperty("--minute", toDeg(min, 60, sec, 60));
      prevMin = min;
    }

    face.style.setProperty("--second", toDeg(sec, 60));
  }

  tick();
  setInterval(tick, 1000);
</script>
