---
import { getCollection } from "astro:content";

import { Icon } from "astro-icon/components";

import { excluded } from "@/assets/include";

import Navlink from "@/components/shared/navlink.astro";

import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"nav">;

const excludedRoutes = new Set(excluded);
const routes = await getCollection("routes", (data) => !excludedRoutes.has(data.id));
---

<nav class:list={["flex items-center justify-evenly capitalize", Astro.props.class]}>
  {
    routes.map((r) => (
      <Navlink
        href={r.data.href}
        class:list={[
          "p-3 text-base",
          "text-gray-900 dark:text-gray-200",
          "hover:text-gray-200 dark:hover:text-gray-900",
          "hover:bg-gray-900 dark:hover:bg-gray-200",
          "focus:text-gray-200 dark:focus:text-gray-900",
          "focus:bg-gray-900 dark:focus:bg-gray-200",
          "aria-[current=page]:text-gray-200 dark:aria-[current=page]:text-gray-900",
          "aria-[current=page]:bg-gray-900 dark:aria-[current=page]:bg-gray-200",
        ]}
      >
        <Icon name={r.data.icon} class="text-2xl md:hidden" />
        <span class="sr-only md:not-sr-only">{r.data.text}</span>
      </Navlink>
    ))
  }
</nav>
