---
import { getEntry, render } from "astro:content";

import Shell from "@/components/frames/shell.astro";
import Fence from "@/components/layout/fence.astro";

const entry = await getEntry("pages", "about");
if (!entry) throw new Response(null, { status: 404 });

const { Content } = await render(entry);
---

{/* marker:content-['_⦿_'] */}
<Shell>
  <Fence>
    <h1 id="a11ty-headline" class="sr-only">This page is about me...</h1>
    <article class="prose prose-base max-w-none prose-gray dark:prose-invert">
      <Content frontmatter={entry.data} />
    </article>
  </Fence>
</Shell>
