---
import { getCollection, getEntry, render } from "astro:content";

import { Icon } from "astro-icon/components";

import { hasValues } from "@/utils/guards";

import Shell from "@/components/frames/shell.astro";
import Fence from "@/components/layout/fence.astro";
import Link from "@/components/shared/link.astro";
// const excluded = ["wiki", "posts",];
const excluded = new Set(["home", "posts", "wiki"]);

const entry = await getEntry("pages", "home");
if (!entry) throw new Response(null, { status: 404 });

const [{ Content }, routes] = await Promise.all([
  render(entry),
  getCollection("routes", (data) => !excluded.has(data.id)),
]);
---

<Shell>
  <Fence>
    <section class="flex flex-col gap-6">
      <!-- <Time datetime={new Date().toISOString()} /> -->

      <h1 id="a11ty-headline" class="text-3xl font-light md:text-5xl">
        I'm Sam — a Software Engineer crafting intuitive digital experiences.
      </h1>

      <article class="prose prose-lg max-w-none prose-gray dark:prose-invert">
        <Content frontmatter={entry.data} />
        {
          hasValues(routes) ? (
            <ul class="not-prose flex flex-col gap-3">
              {routes.map((r) => (
                <li class="flex items-center gap-2">
                  <Icon name={r.data.icon} />
                  <Link href={r.data.href}>{r.data.text}</Link>
                </li>
              ))}
            </ul>
          ) : null
        }
      </article>
    </section>
  </Fence>
</Shell>
