---
import { Font } from "astro:assets";

import "@/assets/styles/prose.css";
import "@/assets/styles/transitions.css";
import "@/global.css";

import Footer from "@/components/layout/footer.astro";
import Header from "@/components/layout/header.astro";
import ThemeProvider from "../widgets/theme-provider.astro";
---

<!doctype html>
<html
  lang="en"
  class:list={["scheme-light motion-safe:scroll-smooth dark:scheme-dark"]}
  data-color-scheme="light"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="me" href="https://mastodon.social/@princemuel" />
    <meta name="fediverse:creator" content="@princemuel@mastodon.social" />
    <title>Astro</title>
    <Font cssVariable="--font-family-sans" preload />
    <ThemeProvider />
    <script src="@/assets/scripts/temporal.client.ts"></script>
  </head>
  <body
    class:list={[
      "relative flex min-h-svh flex-col",
      "font-sans text-lg font-normal antialiased",
      // "bg-white text-black dark:bg-neutral-950 dark:text-white",
      "bg-brand-200 text-brand-900 dark:bg-brand-900 dark:text-brand-200",
    ]}
  >
    <Header />

    <main aria-labelledby="a11ty-headline" class="py-12">
      <slot />
    </main>

    <Footer />
  </body>
</html>
