---
import { invariant } from "outvariant";

import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

invariant(Astro.props.href, "Expected `href` to be set but got `%s`", typeof Astro.props.href);

const thatPathname = Astro.props.href.toString();
const thisPathname = Astro.url.pathname;

const pathname =
  thatPathname && "/" !== thatPathname && thatPathname.endsWith("/") ? thatPathname.slice(0, -1) : thatPathname;

const isActive = !!pathname && (pathname === thisPathname || thisPathname.startsWith(`${pathname}/`));
---

<a {...Astro.props} aria-current={isActive ? "page" : "false"}>
  <slot />
</a>
