---
import "@/global.css";
import { Font } from "astro:assets";

import Meta from "@/components/content/meta.astro";
import Fence from "@/components/layout/fence.astro";
import Footer from "@/components/layout/footer.astro";
import Header from "@/components/layout/header.astro";
import type { ComponentProps } from "astro/types";

interface Props extends ComponentProps<typeof Meta> {}

const { meta, og, twitter } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class:list={["scheme-light motion-safe:scroll-smooth dark:scheme-dark"]}
  data-theme="light"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="me" href="https://mastodon.social/@princemuel" />
    <meta name="fediverse:creator" content="@princemuel@mastodon.social" />
    <Meta meta={meta} og={og} twitter={twitter} />
    <Font cssVariable="--font-family-sans" preload />
    <Font cssVariable="--font-family-mono" />
    <script is:inline src="/assets/theme.js"></script>
    <script src="@/polyfills/temporal.ts"></script>
  </head>
  <body
    class:list={[
      "relative grid min-h-svh grid-rows-[auto_1fr_auto]",
      "overflow-auto font-sans text-base font-normal antialiased",
      "bg-white text-slate-900 dark:bg-slate-950 dark:text-white",
    ]}
  >
    <Header />
    <Fence as="main" aria-labelledby="a11ty-headline" class="py-12">
      <slot />
    </Fence>
    <Footer />
  </body>
</html>
