---
import { getEntry, render } from "astro:content";

import Shell from "@/components/frames/shell.astro";
import Fence from "@/components/layout/fence.astro";

const entry = await getEntry("pages", "projects");
if (!entry) throw new Response(null, { status: 404 });

const { Content } = await render(entry);
const entries = [""];
---

{/* marker:content-['_⦿_'] */}
<Shell>
  <Fence>
    <section class="prose prose-base max-w-none prose-gray dark:prose-invert">
      <Content frontmatter={entry.data} />
    </section>
    <section role="feed" aria-busy="false">
      {
        entries.map((_item, idx) => (
          <article
            aria-posinset={idx + 1}
            tabindex="0"
            aria-labelledby=""
            aria-describedby=""
            aria-setsize={entries.length}
          >
            {/* marker:project-['_⦿_'] */}
          </article>
        ))
      }
    </section>
  </Fence>
</Shell>
